%html
  %head
    %title Ciudad Gorilona
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/styles.css'} 
  %body
    #wrapper
      .center
        %h1 Ciudad Gorilona
        %h3 Muy pronto